@import 'tailwindcss';

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

@theme {
  --font-SeoulHangang: 'SeoulHangang';
  --font-SeoulHangang-bold: 'SeoulHangang-bold';
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

html {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
